{% extends 'base.html' %}


{% block content %}
    
    

        <form action = "{% url 'blogcreate' %}"  method="POST">
            {% csrf_token %}
            {{form.title.label}}
            <br>
            {{form.title}}
            <br>
            {{form.body.label}}
            <br>
            {{form.body}}
            <br>
            {{form.date.label}}
            <br>
            {{form.date}}
            <br><br>
            <input class="btn btn-dark" type="submit" value = "제출하기">
        </form>
    
    
    
{% endblock content %}
    